.submitButtonColor {
  background-color: lightblue;
}

.createPost {
  display: flex;
}


.createPost {
    display: flex;
    margin-top: 30px;
    flex-direction: column;
    background-color: #fff;
    border-radius: 15px;
    box-shadow: 0px 5px 7px -7px rgba(0, 0, 0, 0.75);
    width: 100%;
    margin-bottom: 20px;

  }
  
  .createPost__top {
    display: flex;
    border-bottom: 1px solid #eff2f5;
    padding: 15px;
  }
  
  .createPost__top > form {
    flex: 1;
    display: flex;
  }
  
  .createPost__top > form > input {
    outline-width: 0;
    border: none;
    padding: 5px 20px;
    margin: 0 10px;
    border-radius: 999px;
    background-color: #eff2f5;
  }
  
  .createPost__input {
    flex: 1;
  }