



.usernameStyle{
    font-family: 'Courier New', Courier, monospace;

}
.galleryInput{
    justify-content: center;
}

.titleUpload{
    
    background-color:lightskyblue;
    box-shadow: 5px 10px 15px;
    width: 80%; 
    font-size: 60px;
    border-radius: 92px; 
    padding: 60px; 
    padding-top: 20px;
    padding-bottom: 20px;
    margin-top: 40px; 
    margin-left:119px;
    
    
    
  
}

.imgPhotoGallery{
    border-radius: 52px;
    box-shadow: 15px 0px 15px ;
}


/* upload form styles */
 form{
    margin: 30px auto 10px;
    text-align: center;
  }
 
  .output{
    height: 60px;
    font-size: 0.8rem;
  }

  .uploadBtn{
      background-color:lightpink;
      margin-top: 2px;
      margin-left: 10px;
      width: 65px;
      height: 25px;
      font-size:70%;
      border-radius: 12px;
  } 

  
  /* Create four equal columns that sits next to each other */
.column {
    width: 45%;
    height: 45%;
    padding: 10px;
    float: left;
    text-align: center;  
    margin-left: 40px ; 
    
    
  }
  
  
  /* Responsive layout - makes a two column-layout instead of four columns  */
 @media screen and (max-width: 400px) {
    .column {

      width: 1750px;
      padding-right:60px;
      text-align: center;  
      
    }
  }
  /* Responsive layout - makes the two columns stack on top of each other instead of next to each other  */
@media screen and (max-width: 400px) {
    .column {
      flex: 100%;
      max-width: 100%;
    }
    body{
      padding: 0px;
      max-width: 85%;
    }
   
    .titleUpload{
        font-size: 10px;
        padding:7px;
        margin-top: 10%;
        margin-left:35px;
        background-color: lightpink;

    }
    input{
        width:150px;
        margin-right:20px;

    }
    .imgPhotoGallery{
        padding-left:5px;
        padding-right: 10px ;
        border-radius:55px;
        box-shadow:0px 0px 0px ;
    }
    .headerTitle{
      margin-bottom: 90px;
      font-size: 25px;
    }
    .uploadBtn{
      margin-left: -20px;
      padding: 0px;
    }

  } 


  